table {
  width: 100%;
  opacity: 30%;
  color: transparent;
  background: rgba(0,0,0,0.2);
}
.body{
  background: linear-gradient(to bottom, rgba(80, 194, 233, 0.5),whitesmoke);
}

.button{
  background-color: transparent;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;

  color: #313131;
}
