<body class="body"><div *ngIf="users.length == 0">
  <div class="alert alert-info" role="alert" align="middle">Loading...</div>
</div>

<table mat-table [dataSource]="users" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td class="cell" mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td class="cell" mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td  class="cell" mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td class="cell" mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <!-- Birthday Column -->
  <ng-container matColumnDef="birthDate">
    <th mat-header-cell *matHeaderCellDef> Birthday </th>
    <td class="cell" mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="emailAddress">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td class="cell" mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td class="cell"  mat-cell *matCellDef="let element">
      <button  class="button" mat-raised-button color="primary" (click)="deleteUser(element.id)">Delete</button>
    </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element">
      <button  class="button" mat-raised-button color="primary" (click)="editUser(element.id)">Edit</button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
<br>
<button class="button1" style="margin-left: 45%" (click)="addUser()"> Add User</button>

</body>
