
<mat-toolbar color="primary" >
  <button (click)="getUsers()" mat-flat-button color="primary">Users</button>
  <button class="b" (click)="getMeetings()" mat-flat-button color="primary"> Meetings     </button>
  <button class="b" (click)="feedbackPage()" mat-flat-button color="primary"> Feedback      </button>
  <button class="b" (click)="goBack()" mat-flat-button color="primary">Back</button>
  <div *ngIf="hasNotifications">
    <button mat-button class="button1" (click)="getFeedbacks()">
    <mat-icon  (click)="getFeedbacks()" class="notifications-on" aria-hidden="false">notification_important</mat-icon>
    </button>
  </div>
  <div *ngIf="!hasNotifications">
    <button mat-button class="button1" (click)="getFeedbacks()">
      <mat-icon  (click)="getFeedbacks()" class="notifications-off" aria-hidden="false">notifications_none</mat-icon>
    </button>
  </div>
  <div>&nbsp;&nbsp;</div>
  <div>
      <div style="font-size:15px">{{ loggedInName }}</div>
      <div *ngIf="loggedIn" style="font-size:12px">{{ loggedInRole }}</div>
  </div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
  <div *ngIf="loggedIn">
      <button class="b" mat-raised-button color="primary" (click)="logout()">LOGOUT</button>
  </div>
</mat-toolbar>
