.notifications-off {
  color: gray;
}

.notifications-on{
  color: rgba(217, 21, 21, 0.82);
}

.b{
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transition: width .40s ease-in-out;

}
.button2{
  width: 100px;
  -webkit-transition: width .40s ease-in-out;

}

.button1 {
  float: right;
  margin-left:1100px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: width .40s ease-in-out;


}

.mat-toolbar{
  border-top: transparent;
  border-left: transparent;
  border-right: transparent ;
  border-bottom-color: cornflowerblue;
  box-shadow: 0 2px 10px -5px gray;
}

.mat-toolbar.mat-primary {
  background: rgba(80, 194, 233, 0.5);
  color: #255073;
}

.mat-flat-button.mat-primary {
  background: rgba(80, 194, 233, 0);
  color: #255073;
}

.mat-raised-button.mat-primary{
  background: rgba(0, 0, 0, 0.2);
  color: #255073;
}
