<body class="body">
  <div >
    <div *ngIf="meetings.length == 0">
      <div class="alert alert-info" role="alert">Loading...</div>
    </div>

    <div *ngIf="meetings.length > 0">
      <table mat-table [dataSource]="meetings" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id</th>
          <td mat-cell *matCellDef="let meeting"> {{meeting.id}}</td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef> Start date</th>
          <td mat-cell *matCellDef="let meeting"> {{meeting.startDate}}</td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef> end date</th>
          <td mat-cell *matCellDef="let meeting"> {{meeting.endDate}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <button class="button1" style="margin-left: 45%" (click)="addMeeting()"> Add Meeting</button>
  </div>

</body>
