table {
  width: 100%;
  opacity: 30%;
  color: transparent;
  background: rgba(0,0,0,0.2);

}
.body{
  background: linear-gradient(to bottom, rgba(80, 194, 233, 0.5),whitesmoke);
}

.all{
  margin-left: 40px;
  vertical-align: center;
  horiz-align: center;
}

.button{
  background: rgba(0,0,0,0.3);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent ;
  border-bottom: transparent ;

  box-shadow: 0 9px 2px -6px #255073;

}
.form1{
  height: 40px;
  width: 250px;
  color: #255073;
  font-size: 20px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent ;
  border-bottom: #255073;
  box-shadow: 0 4px 2px -2px #255073;

  background-color: transparent;
}


.form1:focus {
  outline: none !important;
  height: 40px;
  font-size: 20px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent ;
  border-bottom-color: #255073;
  color: #255073;
  box-shadow: 0 4px 2px -2px dodgerblue;
  width: 300px;
  -webkit-transition: width .40s ease-in-out;

}

.new{
  margin-left: 40%;
}

.get{
  margin-left: 40%;
}
