<body class="body">
<div class="all">
  <br>
  <br>
  <div class="get">
  <label >employee id : </label>

  <label>
      <input class="form1" (input)="employeeId=$event.target.value" type="text" ngModel="emoloyeeID">
    </label>
  <br>
  <br>
  <button class="button" mat-raised-button (click)="list(employeeId)">GET FEEDBACK!!!</button>


  <div class="container" >
    <h2> Feedback</h2>
    <div *ngIf="feedback.length == 0">
      <div class="alert alert-info" role="alert">Loading...</div>
    </div>

    <div *ngIf="feedback.length > 0">
      <table mat-table [dataSource]="feedback" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id</th>
          <td mat-cell *matCellDef="let feedback"> {{feedback.id}}</td>
        </ng-container>



        <!-- Details Column -->
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef> UserId</th>
          <td mat-cell *matCellDef="let feedback"> {{feedback.userId.id}}</td>

        </ng-container>

        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef> Text</th>
          <td mat-cell *matCellDef="let feedback"> {{feedback.text}}</td>

        </ng-container>

        <ng-container matColumnDef="reviewerId">
          <th mat-header-cell *matHeaderCellDef> Reviewr id</th>
          <td mat-cell *matCellDef="let feedback"> {{feedback.reviewerId.id}}</td>

        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div class="new">
  <p><label>User Id :  </label>
    <label>
      <input class="form1" (input)="userId=$event.target.value" type="text" ngModel="userIdd">
    </label>
  </p>
  <p><label>Text :  </label>
    <label>
      <input class="form1"(input)="text=$event.target.value" type="text" ngModel="textt">
    </label>
  </p>
  <p><label>Reviewer id :  </label>
    <label>
      <input class="form1"(input)="reviewerId=$event.target.value" type="text" ngModel="Reviewesda">
    </label>
  </p>

  <button class="button" mat-raised-button (click)="addFeedback(userId,text,reviewerId)">ADD FEEDBACK</button>
</div>
</div>
</body>
