<body>
<br>
<br>
<br>
<br>

<div class="new">
  <p><label>Start Date </label>
    <label>
      <input (input)="startDate=$event.target.value" type="string" ngModel="startDate">
    </label>
  </p>
  <p><label>End Date</label>
    <label>
      <input (input)="endDate=$event.target.value" type="string" ngModel="endDate">
    </label>
  </p>

  <button class="button" (click)="addMeeting(startDate, endDate)" mat-raised-button >ADD MEETING</button>
</div>
</body>
