<body>
<br>
<br>
<br>
<br>

<div class="new">
  <p><label>Name </label>
    <label>
      <input (input)="name=$event.target.value" type="string" ngModel="name">
    </label>
  </p>
  <p><label>Address</label>
    <label>
      <input (input)="address=$event.target.value" type="string" ngModel="address">
    </label>
  </p>
  <p><label>BirthDate </label>
    <label>
      <input (input)="birthDate=$event.target.value" type="date" ngModel ="birthDate">
    </label>
  </p>
  <p><label>Email Address </label>
    <label>
      <input (input)="emailAddress=$event.target.value" type="string" ngModel="emailAddress">
    </label>
  </p>
  <p><label>Password </label>
    <label>
      <input (input)="password=$event.target.value" type="string" ngModel="password">
    </label>
  </p>
  <p><label>Type </label>
    <label>
      <input (input)="type=$event.target.value" type="number" ngModel="type">
    </label>
  </p>

  <button class="button" (click)="addUser(password, name, type, address, birthDate, emailAddress)" mat-raised-button >ADD USER</button>
</div>
</body>
