<table mat-table [dataSource]="users" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td class="cell" mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td class="cell" mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td  class="cell" mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td class="cell" mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <!-- Birthday Column -->
  <ng-container matColumnDef="birthDate">
    <th mat-header-cell *matHeaderCellDef> Birthday </th>
    <td class="cell" mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="emailAddress">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td class="cell" mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<div class="container">
  <div class="container" align="center">
    <h2> User personal info</h2>
  </div>
  <p><label>Name: </label>
    <label>
      <input (input)="name=$event.target.value" type="string" ngModel="name">
    </label>
  </p>
  <p><label>Password: </label>
    <label>
      <input (input)="password=$event.target.value" type="string" ngModel="password">
    </label>
  </p>
  <p><label>Type: </label>
    <label>
      <input (input)="type=$event.target.value" type="number" ngModel="type">
    </label>
  </p>
  <p><label>Address: </label>
    <label>
      <input (input)="address=$event.target.value" type="string" ngModel="address">
    </label>
  </p>
  <p><label>Birthdate:  </label>
    <label>
      <input (input)="birthDate=$event.target.value" type="date" ngModel="birthDate">
    </label>
  </p>
  <p><label>Email Address:  </label>
    <label>
      <input (input)="emailAddress=$event.target.value" type="string" ngModel="emailAddress">
    </label>
  </p>

  <button mat-raised-button (click)="editUser(id, password, name, type, address, birthDate, emailAddress)">Edit user</button>

</div>

