<body class="body">
<div *ngIf="feedbacks.length == 0">
  <div class="alert alert-info" role="alert" align="middle">Loading...</div>
</div>

<table mat-table [dataSource]="feedbacks" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef> Feedback </th>
    <td mat-cell *matCellDef="let element"> {{element.text}} </td>
  </ng-container>

  <ng-container matColumnDef="reviewer">
    <th mat-header-cell *matHeaderCellDef> Reviewer </th>
    <td mat-cell *matCellDef="let element"> {{element.reviewerId.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</body>
