.form1{
  height: 40px;
  width: 250px;
  color: #255073;
  font-size: 20px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent ;
  border-bottom: #255073;
  box-shadow: 0 4px 2px -2px #255073;

  background-color: transparent;
}


.form1:focus {
  outline: none !important;
  height: 40px;
  font-size: 20px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent ;
  border-bottom-color: #255073;
  color: #255073;
  box-shadow: 0 4px 2px -2px dodgerblue;
  width: 300px;
  -webkit-transition: width .40s ease-in-out;

}

.button{
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent ;
  border-bottom: transparent ;
  box-shadow: 0 8px 2px -6px #255073;

}

.button.click{
  background-color: transparent;
  border-top: #255073;
  border-left: #255073;
  border-right: #255073 ;
  border-bottom: #255073 ;
  box-shadow: 4px 4px 2px -2px dodgerblue;
  width: 200px;
  -webkit-transition: width .40s ease-in-out;

}

.loginBox{
  vertical-align: center;
  horiz-align: center;
  text-align:center;
}

.title{
  vertical-align: center;
  horiz-align: center;
  margin-top: 60px;
  text-align:center
}

.body{
  background: linear-gradient(to bottom, rgba(80, 194, 233, 0.5),whitesmoke);
}


.button{
  margin-top: 20px;
  width: 120px;
}

.welcome {
  vertical-align: center;
  align-self: center;
  margin-left: 45%;
  horiz-align: center;
  margin-top: 60px;
  font-size: 50px;

}
