
<body class="body">


    <div *ngIf="!loggedIn">
      <div class="loginBox">
        <img src="assets/user.png" style="  margin-top: 100px;width: 60px; height: 60px;" class="user">

        <div class="title" >
          <div style="text-align:center">
            <h2 style="margin-bottom: 50px; color: #255073">
              {{ title }}
            </h2>
          </div>
        </div>
      <p><label style="color: #255073; margin-right: 30px">USERNAME :     </label>
        <label>
          <input class="form1" (input)="username=$event.target.value" type="text" ngModel="usernamee">
        </label>
      </p>
      <p><label style="color: #255073;margin-right: 30px">PASSWORD :     </label>
        <label>
          <input class="form1" (input)="password=$event.target.value" type="password" ngModel="passwordd">
        </label>
      </p>
      <button mat-raised-button class="button" (click)="login(username, password)">LOGIN</button>
    </div>
</div>

    <div *ngIf="loggedIn">
      <br><br><br><br><br>
      <label class="welcome" style="margin-bottom: 50px; color: #255073">Welcome!</label>
    </div>
    </body>
    <!-- <div *ngIf="loggedIn">
      <button mat-raised-button (click)="logout()">LOGOUT</button>
    </div> -->
