<div class="container">
  <h2> Users</h2>

  <p><label>user id : </label>
    <label>
      <input (input)="userId=$event.target.value" type="text" ngModel="emoloyeeID">
    </label>
  </p>
  <br>


  <button mat-raised-button (click)="viewDetails(userId)">GET USER PERSONAL INFO!!!</button>




  <div class="container" align="center">
    <h2> User personal info</h2>
    <div *ngIf="users.length == 0">
      <div class="alert alert-info" role="alert">Loading...</div>
    </div>

    <div *ngIf="users.length > 0">
      <table mat-table [dataSource]="users" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id</th>
          <td mat-cell *matCellDef="let users"> {{users.id}}</td>
        </ng-container>



        <!-- Details Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> username</th>
          <td mat-cell *matCellDef="let users"> {{users.name}}</td>

        </ng-container>

        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef> password</th>
          <td mat-cell *matCellDef="let users"> {{users.password}}</td>

        </ng-container>

        <ng-container matColumnDef="tip">
          <th mat-header-cell *matHeaderCellDef> tip</th>
          <td mat-cell *matCellDef="let users"> {{users.type}}</td>

        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>
  <p><label>New User Name :  </label>
    <label>
      <input (input)="userName=$event.target.value" type="text" ngModel="userNamee">
    </label>
  </p>
  <p><label>New Password :  </label>
    <label>
      <input (input)="userPassword=$event.target.value" type="text" ngModel="userPsswordd">
    </label>
  </p>
  <p><label>New Type :  </label>
    <label>
      <input (input)="userType=$event.target.value" type="text" ngModel="userTypee">
    </label>
  </p>
  <p><label>New Address:  </label>
    <label>
      <input (input)="userAddress=$event.target.value" type="text" ngModel="userTypeee">
    </label>
  </p>
  <p><label>New Bday:  </label>
    <label>
      <input (input)="bday=$event.target.value" type="text" ngModel="userTypeeeeee">
    </label>
  </p>

  <button mat-raised-button (click)="updateUserr(userId,userName,userPassword,userType,userAddress,bday )">Update user</button>

</div>

